<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mars Data Homework</title>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <style>
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }
    
    td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }
    
    tr:nth-child(even) {
      background-color: #747474;
    }
    </style>
</head>

<body style="background-color: #acacac">

  <div class="row container-fluid">
    <div class="container-fluid">
      <div class="jumbotron text-center bg-dark text-white">
        <h1>Mars Stuff</h1>
        <a class=" p-3 btn btn-secondary btn-md btn-block" href="/scrape" role="button" data-toggle="tooltip"
          data-placement="top" title="Click Here to Scrape New Data!">Scrape</a>
      </div>
    </div>
  </div>


  <div class="row container-fluid m-5 p-auto" style="width: 90%;">
    <div class="container-fluid">
      <div class="card bg-dark text-white">
        <h2 class="card-header font-weight-bold">Latest Martian News</h2>
        <div class=" card-body" style="border-top-style: solid; border-top-color: #020B0B">
          <h4 class="card-title">{{ complete_mars_dict.News_Title }}</h4>
          <p class="card-text lead">{{ complete_mars_dict.News_Summary }}</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-3 container-fluid m-5 p-auto" style="width: 90%;">
    <div class=" container-fluid col-md-7">
    <div class=" card bg-dark text-white">
      <h2 class=" card-header font-weight-bold">Featured Mars Image</h2>
      <div class="card-body" style="border-top-style: solid; border-top-color: #020B0B">
        <img src= "{{complete_mars_dict.Featured_Image}}" class="img-fluid">
      </div>
    </div>
  </div>
  <div class="container-fluid col-md-5">

    <div class="card bg-dark text-white">
      <h2 class="card-header font-weight-bold">Current Weather on Mars</h2>
      <div class="card-body" style="border-top-style: solid; border-top-color: #020C0C">
        <p class="card-text lead">{{ complete_mars_dict.Weather_Tweet }}</p>
      </div>
    </div>
    <div class="card bg-dark text-white mt-5">
      <h2 class="card-header font-weight-bold">Mars Facts & Figures</h2>
      <div class="card-body" style="border-top-style: solid; border-top-color: #020C0C">
         {{complete_mars_dict.Facts_Tables}}

      </div>
    </div>
  </div>
  </div>

  <div class="row mt-3 container-fluid m-5 p-auto" style="width: 90%;">
    <div class=" container-fluid col-md-12">
    <h2 class="card-header bg-dark text-white text-center mb-1"
      style="width: 98.05%; margin-left: 10px; border-bottom-style: solid; border-bottom-color: #031A19">
      Hemispheres of Mars</h2>
    {% for dict in complete_mars_dict.Hemisphere_Image_urls %} <div class="container-fluid col-md-6">
      <div class="card bg-dark text-white">
        <div class="card-body p-1" style="border-bottom-style: solid; border-bottom-color: #031A19">
          <img src={{ complete_mars_dict.img_url }} class="img-fluid">
          <h4 class="card-title text-center mt-3 p-1 font-weight-bold">{{ complete_mars_dict.title }}</h4>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  </div>

</body>

</html>